@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --header-grey: #121212;
    
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}


.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}


.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}


.movie-card {
  background: transparent; 
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 250px; 
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 4px;
}



.poster-container {
  position: relative;
}


.favorite-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-yellow);
}


.movie-title {
  color: var(--primary-white);
  text-align: center;
  margin-top: 0.5rem;
}


.popular-title {
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 1rem;
}

.favorites-title {
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 1rem;
}

/* Movie details */
.movie-detail {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    color: white;
}
  
.movie-detail img {
    max-width: 300px;
}
  
@media (max-width: 768px) {
    .movie-detail {
      flex-direction: column;
    }
}
